.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
}

.cardList {
  display: contents;
  list-style: none;
  padding: 0;
  margin: 0;
}

.noCharactersMessage {
  font-size: 1.5rem;
  color: #666;
  text-align: center;
  margin-top: 2rem;
}
