main {
  margin-bottom: 2rem;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: flex-end;
}

.search {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
}

.error {
  color: #ff4d4d;
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.hr {
  margin: 2rem 0;
  color: #f3f2f2;
}

.content {
  display: flex;
  flex-direction: row;
}

.leftSection {
  flex: 1;
  margin-right: 1rem;
}

.rightSection {
  flex: 1;
  border-left: 1px solid #f3f2f2;
  padding-left: 1rem;
  display: none; /* Скрыть секцию по умолчанию */
}

.rightSection.active {
  display: block; /* Показать секцию, когда она активна */
}
