.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  font-family: 'Get Schwifty', sans-serif;
  margin-bottom: 20px;
  padding: 20px;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.link {
  color: #00b1c8;
  cursor: pointer;
}

.portal {
  width: 200px;
  height: 200px;
  background-size: contain;
  animation: spin 4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
