.card {
  border: solid 1px #ccc;
  border-radius: 10px;
  padding: 0.625rem;
  list-style: none;
  padding: .3125rem;
  margin: 0;
}
.title {
  text-align: center;
}
.subTitle {
  font-weight: bold;
}
