.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  word-break: break-word;
}

.title {
  font-size: 1.25rem;
  word-break: break-word;
  border-bottom: #ddd 1px solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.img {
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

.subTitle {
  font-weight: bold;
  word-break: break-word;
  font-size: 1rem;
}

.description {
  font-style: italic;
  font-size: 0.875rem;
}
