.themeSwitcher {
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;

  &:before {
    position: absolute;
    content: '';
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: #00b1c8;

  &:before {
    transform: translateX(26px);
  }
}

.sun,
.moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: opacity 0.4s;
}

.sun {
  left: 4px;
  opacity: 0;
}

.moon {
  right: 4px;
  opacity: 1;
}

input:checked + .slider .sun {
  opacity: 1;
}

input:checked + .slider .moon {
  opacity: 0;
}
